// Theme Palette
$eerie-black: #181a26;
$jungle-green: #212420;
$charcoal: #30353a;
$gunmetal: #262b3d;
$sizzling-red: #ff3454;
$cinereous: #938677;
$dark-vanilla: #cfc4b2;
$white: #fff;

// OVERRIDE BOOTSTRAP VARS
// Fonts

$font-family-base: 'Montserrat';
$body-bg: $eerie-black;
$body-color: $white;

// Color system

$primary: $sizzling-red;
$secondary: $dark-vanilla;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

// Buttons

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
