.contact-section {
  background-attachment: scroll;
  background-color: $gunmetal;
  background-image: url('../img/contact-bg.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  height: auto;
  min-height: 100vh;
  padding: 10rem 0;
}
