.masthead {
  background-attachment: scroll;
  background-image: url('../img/cover-bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  height: auto;
  min-height: 100vh;
  padding: 10rem 0;
  position: relative;
  width: 100%;
}

.home__btn {
  padding: 15px 30px;
}
