.masthead {
  background-attachment: scroll;
  background-image: url('../img/common/black_noise_50.png'),
    url('../img/cover-bg.jpg');
  background-position: center bottom;
  background-repeat: repeat, no-repeat;
  background-size: unset, cover;

  height: 100vh;
  padding: 10rem 0;
  position: relative;
  width: 100%;
}

.home__btn {
  padding: 15px 30px;
}
