.resume-section {
  background-attachment: fixed;
  background-color: $eerie-black;
  background-image: linear-gradient(rgba($black, 0), rgba($black, 1)),
    url('../img/common/black_noise_50.png'), url('../img/resume-bg.jpg');
  background-position: right top;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: auto, auto, cover;

  min-height: 100vh;
}

.resume__title {
  color: $sizzling-red;
  font-weight: bold;
}

.resume__subtitle {
  color: $white;
  font-weight: bold;
}
