@import './colors';

// OVERRIDE BOOTSTRAP VARS
// Fonts
$font-family-base: 'Montserrat';
$body-bg: $eerie-black;
$body-color: $white;

// Colors
$primary: $sizzling-red;
$secondary: $dark-vanilla;

// Buttons
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
