.app-modal {
  background-color: $charcoal;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 10000;

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &__footer {
    margin: 30px auto;
    text-align: center;
    width: 90%;

    hr {
      border: 0.5px solid $dark-vanilla;
    }
  }
}
