.work-info-section {
  background-attachment: fixed;
  background-image: url('../img/common/black_noise_50.png'),
    url('../img/work-bg.jpg');
  background-position: center top;
  background-repeat: repeat, no-repeat;
  background-size: initial, 100%;
}

.work-info {
  &__description {
    margin: 60px 0;
  }

  &__gallery {
    margin: 60px 0;
  }

  &__footer {
    hr {
      border-color: $dark-vanilla;
      margin: 60px auto;
    }
  }

  .tag-list {
    margin: 30px 0;
    ul {
      li {
        color: $charcoal;
        font-weight: bold;
        font-size: 80%;
        background-color: $dark-vanilla;
      }
    }
  }
}

.carousel {
  &-indicators {
    bottom: -40px;

    li {
      background-color: $white;
      transition: 0.5s;
      width: 25px;
    }

    .active {
      background-color: $sizzling-red;
    }
  }

  &-control-next {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: 0.5s;
    width: 10%;

    &-icon {
      height: 50px;
    }
  }

  &-control-prev {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: 0.5s;
    width: 10%;

    &-icon {
    }
  }
}
