.work-info {
  margin-top: 80px;
  margin-bottom: 80px;

  &__cover {
    margin: 30px 0;
    height: 100%;
    width: 100%;
  }

  &__description {
    margin: 30px 0;
  }

  &__gallery {
    margin: 45px 0;
  }

  &__footer {
    margin: 45px 0;
    hr {
      border: .5px solid $dark-vanilla;
    }
  }

  .tag-list {
    margin-bottom: 30px;
  }
}
